/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

.yabs-link {
    margin-right: 20px;
    padding: 10px;
    background: #353535;
    color: #FFF !important;
    border-radius: 4px;
}

.yabs-orange {
	color: #d75e27;
}

.product-miniature .highlighted-informations {
	display: none !important;
}

.product-description:after {
	border-top: 0px !important;
}

.product-miniature {
	box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
}

.thumbnail-container {
	box-shadow: none !important;
}

#header .header-nav {
    margin-bottom: 20px;
}

#header .header-nav #contact-link {
    margin-top: 0.9rem;
}

#top-menu {
	margin-top: 10px;
}

.carousel {
	margin-top: -24px;
}

.banner img {
	width: 100%;
}

#custom-text {
    position: relative;
    background: none;
}

#custom-text h3 {
	color: #FFF;
}

#custom-text p {
	color: #FFF;
}

#wrapper .banner {
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 0;
	margin-bottom: 0px;
}

#wrapper .banner img {
    width: 100%;
    box-shadow: none;
}

.block_newsletter form {
    margin-top: 0.5rem;
}

#wrapper {
    background: #f9f9f9;
}

#header .header-nav {
    background: #FFF;
    margin-bottom: 0px;
}

#header .header-top {
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
}

/* Koda specifikt för resolution (media query?) */
.carousel .carousel-inner {
    height: 740px;
}

@media (min-width: 768px) {
	.carousel .carousel-item .caption {
	    top: 41%;
	    left: 41%;
	    width: 20%;
	    text-align: center;
	}
}
