/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

.yabs-link {
    margin-right: 20px;
    padding: 10px;
    background: #353535;
    color: #FFF !important;
    border-radius: 4px;
}

.yabs-orange {
	color: #d75e27;
}

.product-miniature .highlighted-informations {
	display: none !important;
}

.product-description:after {
	border-top: 0px !important;
}

.product-miniature {
	box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
}

.thumbnail-container {
	box-shadow: none !important;
}

#header .header-nav {
    margin-bottom: 20px;
}

#header .header-nav #contact-link {
    margin-top: 0.9rem;
}

#top-menu {
	margin-top: 10px;
}

.carousel {
	margin-top: -24px;
}

.banner img {
	width: 100%;
}

#custom-text {
    position: relative;
    background: none;
}

#custom-text h3 {
	color: #FFF;
}

#custom-text p {
	color: #FFF;
}

#wrapper .banner {
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 0;
	margin-bottom: 0px;
}

#wrapper .banner img {
    width: 100%;
    box-shadow: none;
}

.block_newsletter form {
    margin-top: 0.5rem;
}

#wrapper {
    background: #f9f9f9;
}

#header .header-nav {
    background: #FFF;
    margin-bottom: 0px;
}

#header .header-top {
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
}

#header .header-nav .top-logo a img {
	max-height: 30px;
}

/* Koda specifikt för resolution (media query?) */
.carousel .carousel-inner {
    height: 765px;
}

.yabs-link {
	display: none;
}

@media (min-width: 576px) {
	.carousel-control .icon-next {
    	margin-right: -12px;
	}
}

@media (min-width: 768px) {
	.carousel .carousel-item .caption {
	    top: 41%;
	    left: 41%;
	    width: 20%;
	    text-align: center;
	}
}

#custom-text {
    width: 50%;
    margin-left: 25%;
}

.checkout_carrier_image {
	width: 100%;
}

.checkout_carrier_box {
	width: 70%;
    margin-top: -2%;
}

body#checkout section.checkout-step .carrier-name {
	display: none;
}

body#checkout section.checkout-step .delivery-option {
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
    position: relative;
}

body#checkout section.checkout-step .delivery-option label {
    margin-bottom: 0px;
}

.checkout_top_fix {
	margin-top: 2%;
}

body#checkout #header .header-nav {
    max-height: none;
    padding: .9375rem 0 .9375rem;
}

body#checkout #header .header-nav #contact-link {
    margin-top: 1.5rem;
}

.input-group .input-group-btn>.btn {
    padding: 0.77rem 1rem;
}

#lang_selector_img {
    float: left;
    width: 100%;
    border-bottom: 1px solid #ffe5e5;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-top: 10px;
}

#lang_selector_img:nth-last-child(1) {
    border-bottom: 0px;
    padding-bottom: 0px;
}

#lang_selector_img:nth-child(1) {
    padding-top: 0px;
}

.country_img {
    width: 21%;
    margin-top: 2px;
    float: left;
    margin-right: 5%;
    margin-left: 10%;
}

.country_list_img {
    width: 18%;
    margin-top: 2px;
    float: left;
    margin-right: 5%;
    margin-left: 6%;
}

.dropdown-item-fix {
    float: left;
    width: 66%;
    clear: none;
    padding: 0px;
    margin-bottom: 2%;
    margin-top: 1%;
}

#blockcart-modal .modal-body {
	display: none !important;
}

#blockcart-modal {
    top: 35%;
}

#blockcart-modal div div .modal-header {
    border-bottom: 0px;
}

.dropdown-menu {
	box-shadow: 3px 4px 5px 0 rgba(0,0,0,.2);
    border: 1px solid #eaeaea;
    border-top: 1px solid #FFF;
}

@media (max-width: 767px) {
	body#checkout section.checkout-step.-reachable.-complete h1 .step-edit {
	    margin-top: .75rem;
	}
}