/*
 * Custom code for mobile devices goes here.
 * A template should always ship with an empty mobile.css
 */

#mobile_top_menu_wrapper .top-menu .sub-menu.collapse.in {
    display: block;
}

#header .header-top {
    background: #fdfdfd;
}

/* #mobile_top_menu_wrapper .js-top-menu-bottom a {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
} */

#header .header-nav .top-logo a img {
    margin-top: -4px;
}

#products .up {
    text-align: center !important;
}

#custom-text {
    width: initial;
    margin-left: 0px;
}

.search-widget form input[type=text] {
	min-width: 225px;
}

.product-quantity .add {
    margin-left: .1rem;
}

.product-quantity .qty {
    margin-bottom: 2rem;
}

.tabs {
    padding: 0.25rem 0.875rem;
}

.card {
	margin-top: 1rem;
}

body#checkout #header .header-nav .logo {
    max-height: 30px;
    width: auto;
}

.checkout_carrier_image {
	width: 100%;
}

.checkout_carrier_box {
	width: 70%;
    margin-top: -2%;
}

#products .product-miniature, .featured-products .product-miniature {
    margin-bottom: 20px;
}

#products .thumbnail-container .product-description, .featured-products .thumbnail-container .product-description, .product-accessories .thumbnail-container .product-description {
    box-shadow: none;
}

#products .product-title a, .featured-products .product-title a, .product-accessories .product-title a, .product-miniature .product-title a {
	color: #000;
}

#products .all-product-link, .featured-products .all-product-link, .product-accessories .all-product-link, .product-miniature .all-product-link {
    margin-top: 0.7rem;
    margin-bottom: 0rem;
    font-size: .9rem;
    color: #000;
    float: right !important;
    margin-right: 1rem;
}

.top-menu .link {
	float: none !important;
}

#header .header-top {
	background: #151515;
}

#header .header-nav #menu-icon .material-icons {
    color: #585858;
}

#mobile_top_menu_wrapper {
    background: #151515;
}

#header .header-top a[data-depth="0"] {
    color: #FFF;
}

#mobile_top_menu_wrapper .top-menu a[data-depth="0"] {
    border-bottom: 2px solid #1b1b1b;
}

#language-selector-label {
	font-size: .9rem;
}

.dropdown select {
    border-radius: 3px;
}